.card {
  border: 0.1rem solid black;
  border-radius: 1em;
  padding: 2em;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  box-shadow: 0.15rem 0.15rem black;
  translate: -0.15rem -0.15rem;
  cursor: pointer;
}

.card > h2 {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

.card > img {
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
  box-shadow: 0.15rem 0.15rem black;
}

.card:hover > img {
  translate: -0.15rem -0.15rem;
  box-shadow: 0.15rem 0.15rem #FEA6CA;
}

.title > h2{
  border-left: 0.1rem solid #AA76CA;
}