.card {
  border: 0.1rem solid black;
  border-radius: 1em;
  padding: 2em;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  box-shadow: 0.15rem 0.15rem black;
  translate: -0.15rem -0.15rem;
  cursor: pointer;
}

.card > h2 {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

.card > img {
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
  box-shadow: 0.15rem 0.15rem black;
}

.card:hover > img {
  translate: -0.15rem -0.15rem;
  box-shadow: 0.15rem 0.15rem #FEA6CA;
}

.title {
  border-left: 0.1rem solid #AA76CA;
}

.tag {
  border: 0.1rem solid black;
  border-radius: 15px 15px 15px 15px;
  width: 4.6rem;
  height: 1rem;
  padding: 0.25rem;
  display: flex;
  background-color: black;
  margin: 0.3rem;
  flex-direction: row;
  justify-content: center;
}

.tag > p {
  align-self: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #AA76CA;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


